.grocery-list-container {
    margin: 4vw;
}

.grocery-department {
    /* width: 100%; */
    background-color: #C6DEF1; 
    padding: 0 2vw;
    /* margin: 3vw; */
}

.grocery-department .list-ingredient {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.75fr 0.5fr;
    margin: 3vh 0;
}

.grocery-departments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; */
    gap: 2vw;
}

.department-header {
    
}