.grocery-list-container {
  margin: 4vw;
}

.grocery-department {
  background-color: #c6def1;
  padding: 0 2vw;
}

.grocery-department .list-ingredient {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.75fr;
  margin: 3vh 0;
}

.grocery-departments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}
