.ingredients-page {
  height: 100%;
  width: 100%;
}

.ingredient-columns {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 0.2fr;
  border: 3px solid black;
  padding: 0 2vw;
  background-color: #c9e4de;
}

.ingredient-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredient-button:hover {
  color: #25826e;
}

.ingredients-page .list-ingredient {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 0.2fr;
  margin: 3vh 0;
}

.ingredient-page-container {
  margin: 3vw;
}

.add-button {
  background: none;
  color: black;
  border: 1px solid black;
  border-radius: 1vh;
  padding: 1.5vh;
  transition: transform 0.5s ease;
}

.add-button:hover {
  transform: translateY(-1vh);
  background-color: #c9e4de;
  cursor: pointer;
}

.ingredients-page-list {
  overflow-y: auto;
  max-height: 65vh;
}

.ingredient-form {
  display: flex;
  flex-direction: column;
  font-size: 3vh;
}

.ingredient-form label {
  margin-top: 2%;
}

.ingredient-form input,
.ingredient-form select {
  font-size: 3vh;
}

.ingredient-input {
  display: flex;
  flex-direction: column;
}

.ingredient-form button {
  margin-top: 2%;
  font-size: 3vh;
  padding: 1vh;
  border: none;
  border-radius: 1vh;
  border: 1px solid black;
}

.ingredient-quantity {
  display: flex;
  width: 100%;
}
