.login-page {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .nav-button {
    z-index: 1;
}

.login-page .app-header {
  position: absolute;
  top: 0;
  width: 100%;
}

.login-content {
  background-color: #c6def1;
  padding: 20px;
  width: 90%;
  max-width: 60%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5vh;
  font-size: 3vh;
  border: 2px solid #0a3a61;
}

.login-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-info input {
  width: 100%;
  height: 4vh;
  font-size: 2.5vh;
}

.new-user-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: 2.5vh;
}

.new-user-section button,
.submit-auth,
.preference-selected,
.preference-not-selected {
  height: 5vh;
  background-color: transparent;
  font-size: 2.5vh;
  border-radius: 1vh;
  border: 2px solid #0a3a61;
  transition: transform 0.5s ease;
}

.preference-list {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin: 1vh;
}

.preference-not-selected:hover {
  background-color: white;
}

.preference-selected {
  background-color: white;
}

.preference-selected:hover {
  transform: translateY(-0.5vh);
  cursor: pointer;
}

.signup-page .submit-auth {
  width: 100%;
  margin: 1vh 0;
}

.new-user-section button:hover,
.submit-auth:hover,
.preference-not-selected:hover {
  transform: translateY(-0.5vh);
  background-color: white;
  cursor: pointer;
}