.meal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  text-align: center;
  border: 2px solid black;
}

.meal-card p {
  padding: 0;
  margin: 0;
}

.meal-img {
  width: 100%;
}

.meal-card:hover,
.meal-card:focus {
  cursor: pointer;
}

.modal-header {
  display: flex;
  width: 100%;
}

.meal-info {
  display: flex;
  flex-direction: column;
}

.modal-header .meal-img {
  width: 50%;
}

/* CSS for AddAnotherMealModal.tsx */
.result-cards {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
