.navbar-container {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #c6def1;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  color: #0c4f87;
  padding: 2%;
  font-size: 3vh;
  border-right: 5px solid #0c4f87;
}

.nav-open {
  transform: translateX(0);
}

.nav-active {
  color: white;
}

.nav-inactive {
  color: black;
}

.nav-active,
.nav-inactive {
  text-decoration: none;
  text-align: center;
}

.close-nav {
  position: absolute;
  right: 2vw;
  top: 2vw;
  font-size: 3vh;
}

.navbar-container .close-nav:hover,
.navbar-container a:hover {
  color: white;
  cursor: pointer;
}
