.recipe-modal-ingredient {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.selected-meals {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.ingredient-cost-info {
  width: 100%;
  height: 150px;
  overflow-y: auto;
}
