.recipe-modal-ingredient {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.selected-meals {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.ingredient-cost-info {
  width: 100%;
  overflow-y: auto;
}

.recipe-cost-modal .ingredient-columns,
.recipe-cost-modal .list-ingredient {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recipe-cost-modal .ingredient-columns {
  text-align: center;
  margin: 0;
  padding: 0;
}
