.search-bar {
    position: absolute;
    top: 18vh;
    right: 4vw;
    background: #C9E4DE;
    height: 3vh;
    border-radius: 3vh;
    padding: 1vh;
}

.search-bar:hover .search-input {
    width: 18vw;
    padding: 0 1vw;
}

.search-bar:hover .search-button {
    background: white;
    color: #C9E4DE;
}

.search-button {
    color: white;
    border: none;
    float: right;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background: #C9E4DE;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 2.5vh;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 2vh;
    transition: 0.4s;
    line-height: 3vh;
    width: 0;
}